<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Crm Regression Test Suite"> 
 
  <test verbose="2" name=" Crm Accounts Module Tests">
    <classes>
      <class name="com.crm.testscripts.AccountScripts"/>
    </classes>
  </test> 
</suite> 
